<template>
    <div class="blog-posts-widget">
        <div
            v-for="(item, index) in items"
            :key="`blog-posts-widget-${index}`"
            class="blog-posts-widget__item"
        >
            <div class="title">
                <h2 v-html="item.title" />
                <!-- <span class="byline">Pellentesque lectus gravida blandit</span> -->
            </div>

            <img v-if="index > 0" :src="item.image.thumbnail" width="282" height="150" alt="" />

            <div v-html="item.content" />

            <nuxt-link class="button" :to="{ path: `/blog/${item.slug}` }">Подробнее</nuxt-link>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        items: Array
    }
}
</script>

<style>
.blog-posts-widget {
    display: flex;
    justify-content: space-between;

    &__item {
        &:first-child {
            max-width: 45%
        }

        max-width: 25%;

    }
}
</style>
