<template>
    <div id="footer">
        <p>&copy; {{footerData.title}} 2018</p>
    </div>
</template>

<script>
export default {
    props: {
        footerData: Object
    }
}
</script>

<style>

</style>
