<template>

    <header id="header-wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><nuxt-link to="/">{{ headerData.title }}</nuxt-link></h1>
          <p v-html="headerData.desc" />
        </div>
        <div id="social">
          <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
          </ul>
        </div>
      </div>
      <div id="menu" class="container">
        <Menu :items="getMenuItems"/>
      </div>
    </header>
</template>

<script>
import Menu from "~/components/Menu.vue";

import { getByPath } from "~/helpers";

export default {
  components: {
    Menu
  },
  computed: {
    getMenuItems() {
      return getByPath('global.header', this.$store.state);
    }
  },
  data: function() {
    return {
      routes: [
        {
          id: "1",
          path: "/",
          text: "Home"
        },
        {
          id: "2",
          path: "/blog",
          text: "Blog"
        }
      ]
    };
  },
  props: {
    headerData: Object
  }
};
</script>

<style>
.header {
  background-position: 50% 50%;
  background-size: cover;
  padding: 20px 60px;
}
</style>
