<template>
    <ul class="menu">
        <li class="menu__item" v-for="item in items" :key="item.id">
            <nuxt-link :to="item.path">{{ item.title }}</nuxt-link>
        </li>
    </ul>
</template>

<script>
export default {
  props: {
    items: Array
  }
};
</script>

<style>

</style>
