/**
* Common page
* @slug: { slug }
*/
<template>
    <section class="container page-content">
      <h1 v-html="title" />
      <div v-html="content" />
    </section>
</template>

<script>
import { getByPath } from '../helpers';

export default {
  async asyncData({ app, store, params, res, error }) {

    return app.$axios.get(`/wp-json/wp/v2/pages?slug=${params.page}&_embed`)
            .then((page) => {
              if (!page.data.length) {
                error({ statusCode: 404, message: 'Page not found' })
              } else {
                // store.commit("setPage", page.data[0])
                console.log(page.data[0])

                // this.title = getByPath('title.rendered', page.data[0]) || ''

                return {
                  title: getByPath('title.rendered', page.data[0]) || '',
                  content: getByPath('content.rendered', page.data[0]) || '',
                }

              }
            });
  },

  // computed: {
  //   title() {
  //     return getByPath('page.title.rendered', this.$store.state.global) || '';
  //   }
  // }
};
</script>

<style>
.page-content {
  min-height: calc(100vh - 270px - 284px);
  padding: 20px 0;
}
</style>

