<template>
  <div id="page" class="container">
		<div><a href="#" class="image image-full"><img src="~/assets/images/pic03.jpg" alt="" /></a></div>
		
		<BlogWidget :items="getBlogWidgetItems" />
		
	</div>
</template>

<script>
import Header from "~/components/Header";
import BlogWidget from "~/components/BlogWidget";
import { getByPath } from '../helpers';

export default {
  async asyncData({ app, store, params }) {
    if (!store.state.page) {
      let page = await app.$axios.get(`/wp-json/wp/v2/pages?slug=main&_embed`);

      store.commit("setPage", page.data[0]);
    }
  },

  components: {
		Header,
		BlogWidget
  },

  computed: {
    headerImage() {
      return getByPath('page._embedded["wp:featuredmedia"][0].source_url', this.$store.state) || '';
		},
		
		getBlogWidgetItems() {
			const posts = getByPath('blog.posts', this.$store.state) || '';
			return posts.slice(0, 3);
		}
  }
};
</script>

<style scoped>
.header {
  height: 400px;
}
</style>

